<div class="wrapper">
    <div class="top">
        <h3 class="heading">Sign Up</h3>
        <mat-icon mat-dialog-close>close</mat-icon>
    </div>
    <div class="bottom">
        <form>
            <div class="form-field">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput >
                    <mat-error>This Field Is Required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput >
                </mat-form-field>
                <button mat-button class="button1 signup-btn">Sign Up</button>
    
            </div>
        </form>
    </div>
   

</div>
