<div class="wrapper">
    <!-- <div class="left">

    </div> -->
    <img class="close-icon" src="assets/Icons/closeIcon.svg" alt="" mat-dialog-close>
    <div class="right">
        <div class="login">
            <form [formGroup]="loginForm">
                <div class="login-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="text" placeholder="">
                        <mat-error *ngIf="loginForm.controls['email']?.hasError('email')"> Invalid Email</mat-error>
                        <mat-error *ngIf="loginForm.controls['email']?.hasError('required')"> This Field Is Required</mat-error>
                        
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input  matInput formControlName="password" [type]="passWordVisible ? 'text' : 'password'" placeholder="" required>
                        <mat-error>This Field Is Required</mat-error>
                        <mat-hint *ngIf="loginErr">Invalid Credentials</mat-hint>
                        <mat-icon class="visibity-icon" *ngIf="!passWordVisible" (click)="showPasswod()">visibility</mat-icon>
                        <mat-icon class="visibity-icon" *ngIf="passWordVisible"  (click)="showPasswod()">visibility_off</mat-icon>
                    </mat-form-field>
                    <button mat-button  class="button1" (click)="login()">LOGIN</button>
                    <div class="login-bottom">
                        <a (click)="openForgot()">Forgot Password</a>
                        <a (click)="openSignUp()">Sign Up</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
